build/
Plex.xcodeproj/*.perspectivev3
Plex.xcodeproj/*.mode1v3
Plex.xcodeproj/*.pbxuser
.firstrun
.settings/
tools/EventClients/Clients/XBMCHelper/XBMCHelper
Edit/
xbmc/cores/dvdplayer/Codecs/ffmpeg/doc/*
xbmc/cores/dvdplayer/Codecs/ffmpeg/config.err
xbmc/cores/dvdplayer/Codecs/ffmpeg/config.mak
xbmc/cores/dvdplayer/Codecs/ffmpeg/ffmpeg
xbmc/cores/dvdplayer/Codecs/ffmpeg/ffmpeg_g
xbmc/cores/dvdplayer/Codecs/ffmpeg/ffplay
xbmc/cores/dvdplayer/Codecs/ffmpeg/ffplay_g
xbmc/cores/dvdplayer/Codecs/ffmpeg/ffserver
xbmc/cores/dvdplayer/Codecs/ffmpeg/ffserver_g
*.pyc
xbmc/cores/dvdplayer/Codecs/ffmpeg/config.h
xbmc/cores/dvdplayer/Codecs/ffmpeg/version.h
xbmc/cores/dvdplayer/Codecs/ffmpeg/libavutil/avconfig.h
xbmc/cores/dvdplayer/Codecs/ffmpeg/.version
xbmc/lib/libass/config.log
xbmc/lib/libass/config.status
xbmc/lib/libass/libtool
xbmc/lib/libass/stamp-h1