<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Plex.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.plexsquared.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>PLEX</string>
	<key>NSMainNibFile</key>
	<string>Plex</string>
	<key>NSPrincipalClass</key>
	<string>PlexApplication</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>CFBundleShortVersionString</key>
	<string>${APPLICATION_VERSION}</string>
	<key>SmartCrashReports_CompanyName</key>
	<string>Plex</string>
	<key>SmartCrashReports_EmailTicket</key>
	<string>SCR-76B35BCAB9</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mkv</string>
				<string>avi</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
