<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>MacBook1,1</string>
	<string>MacBook2,1</string>
	<string>MacBook3,1</string>
	<string>MacBook4,1</string>
	<string>MacBookAir1,1</string>
	<string>MacBookPro1,1</string>
	<string>MacBookPro1,2</string>
	<string>MacBookPro2,1</string>
	<string>MacBookPro2,2</string>
	<string>MacBookPro3,1</string>
	<string>MacBookPro4,1</string>
</array>
</plist>
