<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.plexsquared.Plex</string>
	<key>CFBundleName</key>
	<string>Plex</string>
	
	<key>CFBundleExecutable</key>
	<string>XBMC</string>
	<key>CFBundleIconFile</key>
	<string>XBMC.icns</string>

	<key>CFBundleVersion</key>
	<string>${VERSION}</string>
	<key>CFBundleShortVersionString</key>
	<string>${VERSION}</string>

	<key>CFBundleGetInfoString</key>
	<string>${VERSION}</string>

	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>plex</string>
	<key>SmartCrashReports_CompanyName</key>
	<string>OSXBMC</string>
	<key>SmartCrashReports_EmailTicket</key>
	<string>SCR-76B35BCAB9</string>
</dict>
</plist>
